* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  height: 100vh;

  font-size: 20px;
  background: linear-gradient(to top left, #c1c0fd, #53d4ca);

  text-align: center;
}

.head {
  display: block;

  padding: 40px 0;
}

.keyboard__output {
  resize: none;
  border: 3px solid #000000;
  border-radius: 10px;
  outline: none;
}

.keyboard {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 10px;
  gap: 5px;
  width: 70%;

  border: 3px solid #000000;
  border-radius: 10px;
}

.key {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: 3px solid #000000;
}
.key:hover {
  cursor: pointer;
  background-color: #53d4ca;
}

.key:active {
  background-color: #c1c0fd;
}

.fn-key {
  width: 90px;
}