* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

.page {
  height: 100vh;

  font-size: 20px;
  text-align: center;

  background: linear-gradient(to top left, #c1c0fd, #53d4ca);
}

.head {
  display: block;

  padding: 40px 0;
}

.keyboard__output {
  border: 3px solid #000000;
  border-radius: 10px;

  outline: none;
  resize: none;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  width: 70%;
  margin: 0 auto;
  padding: 10px;

  border: 3px solid #000000;
  border-radius: 10px;
}

.key {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;

  border: 3px solid #000000;
  border-radius: 5px;

  transition: all 0.1s;
}

.key:hover {
  background-color: rgba(193, 192, 253, 0.6);

  cursor: pointer;
}

.key.active,
.key:active {
  background-color: rgb(193, 192, 253, 0.9);
  box-shadow: inset 0 0 3px 1px #000000;
}

.fn-key {
  width: 90px;
}